body {
  background-color: gray;
  font-family: "Bree Serif", serif;
  box-sizing: border-box;
}
.navbar {
  background-color: black;
  color: green;
}
.navbar a {
  color: green;
}
.navbar-brand {
  font-family: "Bungee", cursive;
}

.navbar a:hover {
  background-color: green;
  color: black;
}
.dropdown-menu {
  background-color: green;
}
.dropdown-menu a {
  color: black;
}
.dropdown-menu a:hover {
  background-color: black;
  color: green;
}

ul .dropdown-menu {
  color: grey;
}

.carousel {
  height: 30em;
  background-color: black;
}
.carousel-item img {
  width: 90%;
  height: 30em;
}
h2 {
  margin-bottom: 25px;
  margin-top: 25px;
  color: green;
  background-color: black;
}

.card {
  border: none;
  padding: 20px;
  transition: all 1s;
}

.card:hover {
  box-shadow: 2px 2px 5px white;
  transform: translateY(20px);
  background-color: black;
  color: green;
}
.card li:hover {
  background-color: black;
  color: green;
}

.card a {
  border: none;
  background-color: black;
}

.card a:hover {
  background-color: green;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

.btn-group-vertical a {
  color: white;
}

.btn-group-vertical a:link {
  color: black;
  background-color: green;
}

.modal-body .btn {
  background-color: green;
  color: black;
}

.modal-body .bi {
  color: green;
  font-size: xx-large;
}
.offcanvas {
  background-color: gray;
}
.offcanvas-header {
  background-color: black;
}
.offcanvas button {
  background-color: green;
}
.offcanvas h3 {
  color: green;
}

.offcanvas-header #Helpustoreach {
  background-color: black;
}
